<style>

    #content-blocks-{{forloop.index0}} .coming-soon{

        margin-top: -10%;
    }
    #content-blocks-{{forloop.index0}} h1{
     line-height: 1.1;
     font-family: {{item.fonts.heading-font}};
     color: {{item.colors.heading-color}};
    }

    #content-blocks-{{forloop.index0}} p{
        line-height: 1.1;
        font-family: {{item.fonts.text-font}};
    }
    #content-blocks-{{forloop.index0}} span{
        font-family: {{item.fonts.featured-text-font}} ;
        text-transform: uppercase;
        border-bottom: 3px solid {{item.colors.line-color}};
        font-size: 8rem;
    }

    #content-blocks-{{forloop.index0}} .bg-map{
        margin-top: 15rem;
        /* background-image: url('/images/europe-map.png'); */
    }

    #content-blocks-{{forloop.index0}} .bg-map img{
        width: 70%;
    }

    #content-blocks-{{forloop.index0}} .coming-soon-banner-bg{
        background-image: url('{{item.image}}');
        padding-bottom: 40rem;
        border-radius: 20rem 20rem 0 0;
    }

    #content-blocks-{{forloop.index0}} .coming-soon-heading{
        translate: 20% 80%;
    }





        /* Media Queries */
@media(max-width: 1024px){

    #content-blocks-{{forloop.index0}} span {
        font-size: 6rem;
    }
    #content-blocks-{{forloop.index0}} .coming-soon-heading {
        translate: -2% 71%;
    }

    #content-blocks-{{forloop.index0}} .bg-map img{
        width: 100%;
    }

}



@media(max-width: 768px){
    #content-blocks-{{forloop.index0}} .coming-soon-banner-bg {
        padding-bottom: 25rem;
        margin-left: 37%;
        margin-top: -61%;
    }
    #content-blocks-{{forloop.index0}} .bg-map img {
        margin-top: -50%;
        margin-right: -92%;
    }


}

@media(max-width: 660px){
    
}

@media(max-width: 550px){

    #content-blocks-{{forloop.index0}} span {
            font-size: 4rem;
        }
     #content-blocks-{{forloop.index0}}   .coming-soon-banner-bg {
        margin-top: -90%;
    }
    
}

@media(max-width: 450px){

    #content-blocks-{{forloop.index0}} .coming-soon-banner-bg {
    padding-bottom: 20rem;
}
    
}

@media(max-width: 400px){
    #content-blocks-{{forloop.index0}} span {
    font-size: 2rem;
}

#content-blocks-{{forloop.index0}} .coming-soon-banner-bg {
    padding-bottom: 10rem;
    margin-top: -78%;
    translate: 0 -41%;
    z-index: -1;
}


    
}


</style>



 <section id="content-blocks-{{forloop.index0}}">
    <section  class = "padded-sides grid coming-soon" id="{{item.content-block-link}}">
        <div class = "col-7 coming-soon-heading">
            <h1>{{item.heading-part-1}} <br> <span>{{item.heading-part-2}}</span></h1>
        </div>
        <div class = "col-12 grid">
            <div class = "col-4_md-3 bg-map bg-image center">
                <img src = "{{item.map_image}}" >
            </div>
            <div class = "col-8_md-9_sm-11_xs-12 grid">
                <div class = "col-6_md-7 bg-image coming-soon">
                </div>
                <div class = "col-4_md-3_sm-11_xs-12">
                    {{item.textarea_html}}
                </div>

            </div>
        </div>

    </section>
</section>