<style>
    #content-blocks-{{forloop.index0}} .bg-colour{
        background-color: {{item.colors.background-color}};
    }

    #content-blocks-{{forloop.index0}} h2
      {
      font-family:{{item.fonts.subheading-fonts}};
      color: {{item.colors.subheading-color}};
      }
      
    #content-blocks-{{forloop.index0}} h3
      {
      font-family:{{item.fonts.subheading-fonts}};
      color: {{item.colors.subheading-color}};
      }
      
    #content-blocks-{{forloop.index0}} h4
      {
      font-family:{{item.fonts.subheading-fonts}};
      color: {{item.colors.subheading-color}};
      }
      
    #content-blocks-{{forloop.index0}} h5
      {
      font-family:{{item.fonts.subheading-fonts}};
      color: {{item.colors.subheading-color}};
      }
      
    #content-blocks-{{forloop.index0}} h6
      {
      font-family:{{item.fonts.subheading-fonts}};
      color: {{item.colors.subheading-color}};
      }
    
    #content-blocks-{{forloop.index0}} li{
        margin: 0;
        text-align: left;
    }
    #content-blocks-{{forloop.index0}} a{
        text-decoration: none;
        color: {{item.colors.link-color}};
        display: inline-block;
        margin-bottom: 0.8rem;
        transition: 0.7s all;
    }

    #content-blocks-{{forloop.index0}} a:hover{
        color: {{item.color.link-hover-color}};
        border-bottom: 1px solid {{item.colors.link-hover-color}};
    }

    #content-blocks-{{forloop.index0}} hr{
        border: 2px solid {{item.colors.line-color}};
        width: 12rem;
        margin-top: -0.5rem;
        margin-left: 0.4rem;
    }
    
  #content-blocks-{{forloop.index0}} h1 
    {
    font-family: {{item.fonts.heading-fonts}};
    color: {{item.colors.heading-color}};
    }
    
  
  #content-blocks-{{forloop.index0}}
  
  #content-blocks-{{forloop.index0}}
  
  #content-blocks-{{forloop.index0}} .icon-right{
        margin-right: -18%;
        background-image: url('{{item.right-icon_image}}');
    }

    #content-blocks-{{forloop.index0}} .icon-left{
        translate: 0 98%;
        /* margin-top: 15%; */
        background-image: url('{{item.left-icon_image}}');
    }

    #content-blocks-{{forloop.index0}} .table-of-contents{
        padding-bottom: 12rem !important;
    }

</style>

<section class = " padded-sides" id="content-blocks-{{forloop.index0}}">
    <section  class = "padded bg-colour padded-sides-lg grid table-of-contents" id="{{item.content-block-link}}">
        <div class = "col-6_xs-12">
            <h2>{{item.heading}}</h2>
            <hr>
            <div class = "padded-sides-lg list">
                    {{item.textarea_html}}
            </div>
            
        </div>

        <div class = "col-6_xs-12 grid-right">
            <div class = "left bg-image col-8 icon-left">
                <!-- <img src = "{{item.left-icon_image}}" width = "60%"> -->
            </div>
            <div class = "right bg-image col-4 mob-hide icon-right">
                <!-- <img src = "{{item.right-icon_image}}" width = "20%"> -->
            </div>

        </div>


    </section>
</section>
