<style>

    #content-blocks-{{forloop.index0}} .travel-guide{

        margin-top: -10%;
    }
    #content-blocks-{{forloop.index0}} h1{
     line-height: 1.1;
     font-family: Hoves Thin;
     color: {{item.heading-color}};
    }

    #content-blocks-{{forloop.index0}} .info-1 h2{
        font-family: Hoves Medium;
        font-size: 2rem;
        color: {{item.info-block-1.heading-color}};
    }
    #content-blocks-{{forloop.index0}} .info-2 h2{
        font-family: Hoves Medium;
        font-size: 2rem;
        color: {{item.info-block-2.heading-color}};
    }

    #content-blocks-{{forloop.index0}} p{
        line-height: 1.1;
    }
    #content-blocks-{{forloop.index0}} span{
        font-family: Hoves Bold Outline ;
        text-transform: uppercase;
        border-bottom: 3px solid {{item.line-color}};
        font-size: 8rem;
    }

    #content-blocks-{{forloop.index0}} .bg-map{
        margin-top: 15rem;
        /* background-image: url('/images/europe-map.png'); */
    }

    #content-blocks-{{forloop.index0}} .bg-map img{
        width: 70%;
    }

    #content-blocks-{{forloop.index0}} .travel-guide-banner-bg{
        background-image: url('{{item.country_image}}');
        padding-bottom: 40rem;
        border-radius: 20rem 20rem 0 0;
    }

    #content-blocks-{{forloop.index0}} .travel-guide-heading{
        translate: 20% 80%;
    }

    #content-blocks-{{forloop.index0}} .info-1,
    #content-blocks-{{forloop.index0}} .info-2{
        /* height: 20rem; */

    }

    #content-blocks-{{forloop.index0}} .info-1{
        background-color: {{item.info-block-1.background-color}};
    }

    #content-blocks-{{forloop.index0}} .info-2{
        background-color: {{item.info-block-2.background-color}};
    }

    #content-blocks-{{forloop.index0}}  .icon {
      position: relative;
    }

    #content-blocks-{{forloop.index0}}  .icon img {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 1;
    }

    #content-blocks-{{forloop.index0}}  .icon img:last-child {
      z-index: 2;
      left: 30px; /* Adjust left position to layer the second image to the right */
      top: 30px; /* Adjust top position to layer the second image lower */
    }

        /* Media Queries */
@media(max-width: 1024px){

    #content-blocks-{{forloop.index0}} span {
        font-size: 6rem;
    }
    #content-blocks-{{forloop.index0}} .travel-guide-heading {
        translate: -2% 71%;
    }

    #content-blocks-{{forloop.index0}} .bg-map img{
        width: 100%;
    }

    #content-blocks-{{forloop.index0}}  .icon img {
        top: 10px;
        left: 0px;
    }

    #content-blocks-{{forloop.index0}} .icon img:last-child {
        left: 10px;
        top: 15px;
    }
}

@media(max-width: 990px){
    
}

@media(max-width: 768px){
    #content-blocks-{{forloop.index0}} .travel-guide-banner-bg {
        padding-bottom: 25rem;
        margin-left: 37%;
        margin-top: -61%;
    }
    #content-blocks-{{forloop.index0}} .bg-map img {
        margin-top: -50%;
        margin-right: -92%;
    }

    #content-blocks-{{forloop.index0}} .icon img {
        top: -10px;
        left: 71px;
    }
    
    #content-blocks-{{forloop.index0}} .icon img:last-child {
        left: 80px;
        top: -5px;
    }
}

@media(max-width: 660px){
    
}

@media(max-width: 550px){

    #content-blocks-{{forloop.index0}} span {
            font-size: 4rem;
        }
     #content-blocks-{{forloop.index0}}   .travel-guide-banner-bg {
        margin-top: -90%;
    }
    
}

@media(max-width: 450px){

    #content-blocks-{{forloop.index0}} .travel-guide-banner-bg {
    padding-bottom: 20rem;
}
    
}

@media(max-width: 400px){
    #content-blocks-{{forloop.index0}} span {
    font-size: 2rem;
}

#content-blocks-{{forloop.index0}} .travel-guide-banner-bg {
    padding-bottom: 10rem;
    margin-top: -78%;
    translate: 0 -41%;
    z-index: -1;
}

#content-blocks-{{forloop.index0}} .info-blocks{
    margin-top: -32%;
}

#content-blocks-{{forloop.index0}} .icon img {
    top: -18px;
    left: 129px;
}

#content-blocks-{{forloop.index0}} .icon img:last-child {
    left: 143px;
    top: -13px;
}


    
}

@media(max-width: 350px){
    
}

</style>

<section id="content-blocks-{{forloop.index0}}">
    <section  class = "padded-sides grid travel-guide" id="{{item.content-block-link}}">
        <div class = "col-7 travel-guide-heading">
            <h1>{{item.heading}} <br> <span>{{item.country}}</span></h1>
        </div>
        <div class = "col-12 grid">
            <div class = "col-4_md-3 bg-map bg-image center">
                <img src = "{{item.map_image}}" >
            </div>
            <div class = "col-8_md-9_sm-11_xs-12 grid">
                <div class = "col-6_md-7 bg-image travel-guide-banner-bg">
                </div>

                <div class = "col-6_md-5_sm-12 grid info-blocks">
                    <div class = "col-12_sm-6_xs-12 info-1 grid-center padded">
                        <div class = "col-4_md-5 icon center">
                            <img src="{{item.info-block-1.icon-background_image}}" width="80%">
                            <img src="{{item.info-block-1.icon_image}}"  width="60%">

                        </div>
                        <div class = "col-8-bottom_md-12 text">
                            <h2>{{item.info-block-1.heading}}</h2>
                            <p>{{item.info-block-1.textarea_html}}</p>
                        </div>

                    </div>
                    <div class = "col-12_sm-6_xs-12 info-2 grid-center padded">
                        <div class = "col-4_md-5 icon">
                            <img src="{{item.info-block-2.icon-background_image}}" width="80%">
                            <img src="{{item.info-block-2.icon_image}}"  width="60%">
                        </div>
                        <div class = "col-8-bottom_md-12 text">
                            <h2>{{item.info-block-2.heading}}</h2>
                            <p>{{item.info-block-1.textarea_html}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </section>
</section>