--- 
layout: default 
--- 

<style>


        h1{
        line-height: 1.1;

        }

        .info-1 h2{
            font-family: {{page.fonts.travel-guide-information-1-heading-font}};
            font-size: 2rem;
            color: {{page.colors.travel-guide-information-1-heading-color}};
        }
        .info-2 h2{
            font-family: {{page.fonts.travel-guide-information-2-heading-font}};
            font-size: 2rem;
            color: {{page.colors.travel-guide-information-2-heading-color}};
        }

        p{
            line-height: 1.1;
        }
        span{
            font-family: {{page.fonts.travel-guide-featured-heading-font}} ;
            text-transform: uppercase;
            border-bottom: 3px solid {{page.colors.travel-guide-featured-line-color}};
            font-size: 8rem;
        }

        .bg-map{
            margin-top: 15rem;
            /* background-image: url('/images/europe-map.png'); */
        }

        .bg-map img{
            width: 70%;
        }

        .travel-guide-banner-bg{
            background-image: url('{{page.travel-guide-country_image}}');
            padding-bottom: 40rem;
            border-radius: 20rem 20rem 0 0;
        }

        .travel-guide-heading{
            translate: 20% 80%;
        }


        .info-1{
            background-color: {{page.colors.travel-guide-information-1-background-color}};
        }

        .info-2{
            background-color: {{page.colors.travel-guide-information-2-background-color}};
        }

        .icon {
        position: relative;
        }

        .icon img {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        }

        .icon img:last-child {
        z-index: 2;
        left: 30px; /* Adjust left position to layer the second image to the right */
        top: 30px; /* Adjust top position to layer the second image lower */
        }




            /* Old Styles end */
            
</style>

<!-- Travel Guide Section -->

<section class="padded-sides grid travel-guide">
    <div class = "col-7 travel-guide-heading">
      <h1 style = "
                font-family: {{page.fonts.travel-guide-heading-font}};
                color: {{page.colors.travel-guide-heading-color}};
        
        ">{{page.travel-guide.heading}} <br> <span>{{page.travel-guide.country}}</span></h1>
    </div>
    <div class = "col-12 grid">
        <div class = "col-4_md-3 bg-map bg-image center">
            <img src = "{{page.map_image}}" >
        </div>
        <!-- image + info -->
        <div class = "col-8_md-9_sm-11_xs-12 grid">
            <div class = "col-6_md-7 bg-image travel-guide-banner-bg">
            </div>
      <!-- info blocks section -->
            <div class = "col-6_md-5_sm-12 grid info-blocks">
                <div class = "col-12_sm-6_xs-12 info-1 grid-center padded">
                    <div class = "col-4_md-5 icon center">
                        <img src="{{page.info-block-1.icon-background_image}}" width="80%">
                        <img src="{{page.info-block-1.icon_image}}"  width="60%">

                    </div>
                    <div class = "col-8-bottom_md-12 text">
                        <h2>{{page.info-block-1.heading}}</h2>
                        <p>{{page.info-block-1.textarea_html}}</p>
                    </div>

                </div>
                <div class = "col-12_sm-6_xs-12 info-2 grid-center padded">
                    <div class = "col-4_md-5 icon">
                        <img src="{{page.info-block-2.icon-background_image}}" width="80%">
                        <img src="{{page.info-block-2.icon_image}}"  width="60%">
                    </div>
                    <div class = "col-8-bottom_md-12 text">
                        <h2>{{page.info-block-2.heading}}</h2>
                        <p>{{page.info-block-1.textarea_html}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>