---
layout: default
---

<style>

    .blog-hover-overlay-color:hover 
    {
        
        background-color: rgba(221, 199, 193, 0.4);

        /* {{item.colors.blog-hover-overlay-color}} */
    }

    .blog-hover-overlay-color:hover
    {
        color: white
    /* color: {{item.colors.cta-color}}; */
    }
    .blog-title-card-color
     {
     background-color: {{page.colors.blog-title-card-color}};
     border-top: solid 4px {{page.colors.blog-title-card-border-color}};
     border-right: solid 4px {{page.colors.blog-title-card-border-color}};
     border-left: solid 4px {{page.colors.blog-title-card-border-color}};
     }
    
    p
    {
    font-family: {{page.fonts.text-font}};
    color: {{page.colors.text-color}};
    }
  
    #blog-title h1
    {
    font-size: 2.3rem;
    font-family: {{page.fonts.heading-font}};
    color: {{page.colors.heading-color}};
    }

    .social-share-icons-color p, h4
    {
    color: {{page.colors.social-share-icons-color}};
    }

    .social-share-icons-color p:hover 
    {color: {{page.colors.social-share-icons-hover-color}};}

    .social-share-icons-color a:hover 
    {color: {{page.colors.social-share-icons-hover-color}};}

    .social-share-icons-color h4:hover 
    {color: {{page.colors.social-share-icons-hover-color}};}

    .social-share-text
    {
    color: {{page.colors.social-share-text-color}};
    font-family: {{page.fonts.social-share-text-font}};
    }


    #blog-title h1 
    {
        font-family: {{page.fonts.heading-font}};;
        line-height: 1.1;
    }

    .heading-container {
            background: {{page.colors.heading-background-color}}; /* Use rgba to set the background color with opacity */
            padding: 20px; /* Adjust the padding as needed */
            display: inline-block; /* Makes the container size fit the content (the heading) */
        }

     .author-image{
        border-radius: 20rem;
        /* background-image: url('{{page.author_image}}'); */
        padding-bottom: 4rem;

    }

  .author-about{
        margin: 1rem;
        margin-bottom: 2rem;
        /* height: 15rem; */

    }

    .blog-hero-grid-1{
        margin-right: 0.5% !important;
        margin-top: 2% !important;
        /* background-image: url('{{page.blog-hero-grid-1_image}}'); */
    }
    .blog-hero-grid-2{
        margin-left: 0.5% !important;
        margin-top: 2% !important;
        /* background-image: url('{{page.blog-hero-grid-2_image}}'); */
    }
.blog-hero-grid-3{
        margin-top: 2% !important;
        margin-right: 0.5% !important;
        /* background-image: url('{{page.blog-hero-grid-3_image}}'); */
    }
.blog-hero-grid-4{
        margin-top: 2% !important;
        margin-left: 0.5% !important;
        /* background-image: url('{{page.blog-hero-grid-4_image}}'); */
    }

    /* #content-blocks-{{forloop.index0}} .blog-hero-grid-section{
        height: 5rem;
    } */
    
 .blog-hero-bg{
        padding-bottom: 35rem;
        /* background-image: url('{{page.blog_image}}'); */

    }

.bg-author{
        width: 99%;
        background-color: {{page.colors.author-background-color}};
        
    }

 /* a{
        display: block;
        margin-bottom: 1rem;
        color: {{page.link-color}};
        transition: 0.7s all;
    }

 a:hover{
        color: {{page.link-hover-color}};
    } */
 p{
        line-height: 1.2;
    }
.grid-link{
        text-align: center;
        display: inherit;
    }

.container{
        position: relative;
        display: inherit;

    }

.container .grid-link{
        width: 5rem; /* Adjust the dimensions as needed */
        height: 20rem; /* Adjust the dimensions as needed */
        background-color: rgba(221, 199, 193, 0.4); /* Background color for the Instagram icon/image */
        text-align: center;
        line-height: 100px;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

.container .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none; /* Initially hidden */
        background-color: rgba(0, 0, 0, 0.7); /* Background color for overlay with opacity */
        color: white;
        text-align: center;
        line-height: 10rem;
        font-size: 20px;
        transition: opacity 0.3s; /* Smooth transition effect */
        }

.container:hover .overlay-text {
        display: block; /* Show the overlay on hover */
        }



        /* Image grid styles start */
        .image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  background-size: cover; /* Maintain image aspect ratio */
  background-position: center; /* Center the background image */
  transition: transform 0.3s;
}

.image1 {
  background-image: url('{{page.blog-hero-grid-1_image}}');
}

.image2 {
  background-image: url('{{page.blog-hero-grid-2_image}}');
}

.image3 {
  background-image: url('{{page.blog-hero-grid-3_image}}');
}

.image4 {
  background-image: url('{{page.blog-hero-grid-4_image}}');
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: {{page.colors.image-grid-hover-overlay}};
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1; /* Ensure it's above images */
}

.button-container {
  text-align: center;
}

.instagram-button {
  text-decoration: none;
  color: {{page.colors.image-grid-hover-button-color}};
  padding: 10px 20px;
  background-color: {{page.colors.image-grid-hover-button-background-color}}; /* Customize as needed */
  border-radius: 5px;
  transition: 0.6s all;
}
.instagram-button:hover{
    color: {{page.colors.image-grid-hover-button-color-on-hover}};
}

.image-grid:hover .overlay {
  opacity: 1;
}

.author-about a{
  display: inline-block;
  text-decoration: underline;
  color: {{page.colors.author-link-color}}
}


        /* Image grid styles End */

    /* Media Queries */
@media(max-width: 1024px){

}

@media(max-width: 990px){
    
}

@media(max-width: 768px){

.blog-hero-bg{
        padding-bottom: 11rem;

    }
    
}

@media(max-width: 660px){

.bg-author {
        margin-top: -20%;
    }

    #blog-title h1 
    {
        font-size: 2rem;
    }
    
}

@media(max-width: 550px){
.bg-author {
        margin-top: 0%;
    }
}

@media(max-width: 450px){
    
}

@media(max-width: 400px){
    
}

@media(max-width: 350px){
    
}
</style>

<!-- <section class="grid-right blog-hero padded-top padded-sides bg-image-blog tall-100 grid center" style="background-image: url('{{page.blog_image}}');">
    <div class="social-share mob-hide">
  
      <nav class="social-share-icons-color">
        <p class="">
          <a href="https://twitter.com/intent/tweet?{{site.data.general.basics.your-url}}{page.url}}" rel="nofollow" target="_blank" title="Share on Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </p>
        <p>
        <a href="https://facebook.com/sharer.php?u={{site.data.general.basics.your-url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        </p>
        <p>
          <a href="http://pinterest.com/pin/create/link/?{{site.data.general.basics.your-url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Pinterest">
            <i class="fab fa-pinterest-p"></i>
        </a>
        </p>
    </nav>
  
    <h4 class="social-share-text"> Share </h4>
  </div>
    <div class="col-5_sm-7_xs-10-bottom mob-hide">
      <div class="banner-inner padded-xs  blog-title-card-color grid margin-bottom-2">
        <div class="col-4 left mob-hide">
            <p class="margin-top-1 margin-bottom-1"> {{page.symbols}}</p>
        </div>
      <div class="col-8 right">
        <p class="date"> {{page.author}} </p>
      </div>
      <div class="col-12">
        <h1 class="centered blog-title"> {{page.title}} </h1>
        <p class="date left"> {{page.date | date_to_long_string }} </p>
       </div>
     </div>
   </div>
  </section> -->
  
  <!-- New blog hero starts here -->
  <section class = "grid-center" style = "padding: 10% 5% 0% 5%;">

    <div class = "col-7_sm-12-center bg-image blog-hero-bg padded-s grid" style="background-image: url('{{page.blog_image}}');">
        <div class ="col-7_sm-9 margin-top-2 heading-container margin-left-2">
            <h1 id = "blog-title">{{page.title}}</h1>
        </div>
        

    </div>

    <div class = "col-5_sm-12-center grid-center">
        <div class = "col-8_sm-6_xs-12 bg-author grid-center padded">
            <div class = "col-6_md-10_sm-7_xs-12 author-image bg-image " style = " background-image: url('{{page.author_image}}');">

            </div>
            <div class = "col-8_md-10_xs-12 center author-about">
                {{page.blog-summary.textarea_html}}
            </div>
        </div>
        
        <!-- <div class = "col-8_sm-6-middle_xs-12 grid-center-spaceAround blog-hero-grid-section margin-top-1 xs-hide">
                    <div class="hover-container">
                        <div class="blog-hover-overlay blog-hover-overlay-color">
                            <div class="follow-hover center">
                                <a>Follow me</a>
                                <div class = "col-5 bg-image blog-hero-grid-1 " style = "background-image: url('{{page.blog-hero-grid-1_image}}');">
                                </div>
                                <div class = "col-5 bg-image blog-hero-grid-2 " style = "background-image: url('{{page.blog-hero-grid-2_image}}');">
                                </div>
                                <div class = "col-5 bg-image blog-hero-grid-3 " style = "background-image: url('{{page.blog-hero-grid-3_image}}');">
                                </div>
                                <div class = "col-5 bg-image blog-hero-grid-4" style = "background-image: url('{{page.blog-hero-grid-4_image}}');">
                                </div>

                            </div>
         
                        </div>
                    </div>
        </div> -->
        
        
            <div class="image-grid col-8_sm-6-middle_xs-12 margin-top-1 xs-hide">
                <div class="overlay">
                  <div class="button-container">
                    <a href="https://www.instagram.com/your_instagram_username/" target="_blank" class="instagram-button">Visit Instagram</a>
                  </div>
                </div>
                <div class="image-container bg-image image1"></div>
                <div class="image-container bg-image image2"></div>
                <div class="image-container bg-image image3"></div>
                <div class="image-container bg-image image4"></div>
              </div>
          
    </div>
</section>

<!-- New blog hero ends here -->

 <!-- <section class="grid padded mob-bump desktop-hide blog-banner-mobile">
    <div class="grid padded-1 blog-title-card-color">
      <h1 class="col-12"> {{page.title}} </h1>
      <div class="col-12 grid">
        <p class="date col-5 left">  {{page.author}}</p>  <p class="col-2 center">|</p>  <p class="date col-5  right"> {{page.date | date_to_long_string }}</p>
        <p class="col-12"> {{page.symbols}} </p>
      <div class="mob-social-share col-12">
        <h4 class="share-on-mob"> Share
  
  
        <a class="padded" href="https://twitter.com/intent/tweet?{{site.data.general.basics.your-url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="padded" href="https://facebook.com/sharer.php?u={{site.data.general.basics.your-url}}{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="padded" href="http://pinterest.com/pin/create/link/?{{site.data.general.basics.your-url}}/{{page.url}}" rel="nofollow" target="_blank" title="Share on Pinterest">
          <i class="fab fa-pinterest-p"></i>
        </a>
  
      </h4>
      </div>
    </div>
  </section>  -->

  {% for item in posts.content-blocks %}
  <div class="cms-editor-link" data-cms-editor-link="cloudcannon:#content-blocks[{{ forloop.index0 }}]">
      <span class="cms-editor-button"></span>
    {% include {{item._section-type}}.html %}
  {% endfor %}